##Ce notebook permet de récupérer les données de consommation électrique sur le site RTE et les pré-traiter pour obtenir un df de relevé de consommation pour chaque 30 mn  par région et nationale des années 2021 et 2022

In [ ]:
#acceder à mon drive pour stocker les données
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#!pip install -U holidays

In [ ]:
#!pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Collecting pandas
  Downloading pandas-1.5.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 4.2 MB/s
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.5.2

In [ ]:
!pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (1.2.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.1 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.2.0
    Uninstalling xlrd-1.2.0:
      Successfully uninstalled xlrd-1.2.0
Successfully installed xlrd-2.0.1

In [ ]:
#chargement des librairies
import pandas as pd
import numpy as np
import os
import subprocess
import calendar
from datetime import datetime
import datetime
import glob
import holidays

In [ ]:
# chargement data sur le site RTE de l'année  en cours 2022
#! wget -O data_elect_encours.zip "https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_En-cours-TR.zip"
#!unzip -qq data_elect_encours.zip

In [ ]:
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pd.set_option('display.max_columns', 45)

## preparation de données pour la prévision de la consommation électrique en France

##récupération  de données de consommation  sur le site RTE

In [ ]:
url_region={"Auvergne":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Auvergne-Rh%C3%B4ne-Alpes_",
            "Bourgogne":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Bourgogne-Franche-Comt%C3%A9_",
            "Bretagne":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Bretagne_",
            "Centre_loire":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Centre-Val-de-Loire_",
            "Grand_est":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Grand-Est_",
            "Haut_france":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Hauts-de-France_",
            "Ile_france":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Ile-de-France_",
            "Normandie":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Normandie_",
            "Aquitaine":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Nouvelle-Aquitaine_",
            "Occitanie":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Occitanie_",
            "PACA":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_PACA_",
            "Pays_loire":"https://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_Pays-de-la-Loire_"
             }

In [ ]:

# récupération  de données des année 2013 et 2020
url="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_consommation_regionale"
os.chdir(url)
"""
for i in range(2013,2021):
  for region, url in url_region.items():
    subprocess.run(["wget", "-O", "data_"+region+".zip", url+"Annuel-Definitif_"+str(i)+".zip"])
    subprocess.run(["unzip", "-qq", "data_"+region+".zip"])
"""
# récupération  de données des année 2021 et 2022
URL_cours_consolite=["En-cours-Consolide.zip","En-cours-TR.zip"]
for url_cours in URL_cours_consolite:
  for region, url in url_region.items():
    subprocess.run(["wget", "-O", "data_"+region+".zip", url+url_cours])
    subprocess.run(["unzip", "-qq", "data_"+region+".zip"])

In [ ]:
#récupération du chemin de chaque fihier
fold_file="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_consommation_regionale"
os.chdir(fold_file)
files=glob.glob(os.path.join(fold_file,"*.xls"))
print(len(files))

26

##" fonction pour charger tous les fichiers csv de  données stockés dans le drive

In [ ]:
def load_file(folder_path,csv_files,delimiter=",",encoding='utf-8'):
      # Liste des fichiers .xls dans le dossier


      # Initialisation d'un dataframe vide
      df = pd.DataFrame()

      # Pour chaque fichier .xls dans le dossier, téléchargement et concaténation dans le dataframe
      for i,fichier  in enumerate(csv_files):
          file_path = os.path.join(folder_path, fichier)
          print("-"*100)
          print(fichier)
          print(i)
          #xlsx = pd.ExcelFile(file_path,engine="")
          #df_temp= pd.read_excel(xlsx, "Sheet1")
          
          #df_temp = pd.read_excel(file_path,engine="xlrd")
          df_temp = pd.read_csv(file_path, low_memory=False,delimiter=delimiter,encoding=encoding)
          print("-"*100)
          df = pd.concat([df, df_temp], ignore_index=True)
      return df

# chargement de données par région 2021 et 2022

In [ ]:
# Chemin d'accès au dossier contenant les fichiers .xls
folder_path="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_consommation_regionale"
os.chdir(folder_path)
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
len(csv_files)
df1=load_file(folder_path,csv_files,encoding='latin-1',delimiter=";")

----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Auvergne-Rh ne-Alpes_En-cours-Consolide.csv
0
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Bourgogne-Franche-Comt _En-cours-Consolide.xls.csv
1
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Bretagne_En-cours-Consolide.xls.csv
2
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Centre-Val-de-Loire_En-cours-Consolide.xls.csv
3
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Pays-de-la-Loire_En-cours-Consolide.xls.csv
4
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Grand-Est_En-cours-Consolide.xls.csv
5
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Hauts-de-France_En-cours-Consolide.xls.csv
6
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Ile-de-France_En-cours-Consolide.xls.csv
7
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Normandie_En-cours-Consolide.xls.csv
8
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Nouvelle-Aquitaine_En-cours-Consolide.xls.csv
9
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Occitanie_En-cours-Consolide.xls.csv
10
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_PACA_En-cours-Consolide.xls.csv
11
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Auvergne-Rhone-Alpes_En-cours-TR.xls.csv
12
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Bourgogne-Franche-Comte_En-cours-TR.xls.csv
13
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Bretagne_En-cours-TR.xls.csv
14
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Centre-Val-de-Loire_En-cours-TR.xls.csv
15
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Grand-Est_En-cours-TR.xls.csv
16
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Hauts-de-France_En-cours-TR.xls.csv
17
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Ile-de-France_En-cours-TR.xls.csv
18
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Normandie_En-cours-TR.xls.csv
19
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Nouvelle-Aquitaine_En-cours-TR.xls.csv
20
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Occitanie_En-cours-TR.xls.csv
21
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_PACA_En-cours-TR.xls.csv
22
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_Pays-de-la-Loire_En-cours-TR.xls.csv
23
----------------------------------------------------------------------------------------------------

In [ ]:
df1.head()

,Périmètre,Nature,Date,Heures,Consommation,Thermique,Nucléaire,Eolien,Solaire,Hydraulique,Pompage,Bioénergies,Stockage batterie,Déstockage batterie,Eolien terrestre,Eolien offshore,Ech. physiques,TCO Thermique (%),TCH Thermique (%),TCO Nucléaire (%),TCH Nucléaire (%),TCO Eolien (%),...,Flux physiques de PACA vers Luxembourg,Flux physiques de PACA vers Royaume-Uni,Flux physiques de PACA vers Suisse,Flux physiques d'Auvergne-Rhône-Alpes vers Pays-de-la-Loire,Flux physiques d'Ile-de-France vers Pays-de-la-Loire,Flux physiques d'Occitanie vers Pays-de-la-Loire,Flux physiques de Pays-de-la-Loire vers Pays-de-la-Loire,Flux physiques de Pays-de-la-Loire vers Pays-de-la-Loire.1,Flux physiques Allemagne vers Pays-de-la-Loire,Flux physiques Belgique vers Pays-de-la-Loire,Flux physiques Espagne vers Pays-de-la-Loire,Flux physiques Italie vers Pays-de-la-Loire,Flux physiques Luxembourg vers Pays-de-la-Loire,Flux physiques Royaume-Uni vers Pays-de-la-Loire,Flux physiques Suisse vers Pays-de-la-Loire,Flux physiques de Pays-de-la-Loire vers Allemagne,Flux physiques de Pays-de-la-Loire vers Belgique,Flux physiques de Pays-de-la-Loire vers Espagne,Flux physiques de Pays-de-la-Loire vers Italie,Flux physiques de Pays-de-la-Loire vers Luxembourg,Flux physiques de Pays-de-la-Loire vers Royaume-Uni,Flux physiques de Pays-de-la-Loire vers Suisse
0,Auvergne-Rhône-Alpes,Données consolidées,01/01/2021,00:00,8576.0,157.0,10710.0,62.0,0.0,3076.0,-167.0,137.0,-5400,1.83,14.58,124.88,78.92,0.72,11.09,0.0,0.0,35.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Auvergne-Rhône-Alpes,Données consolidées,01/01/2021,00:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Auvergne-Rhône-Alpes,Données consolidées,01/01/2021,00:30,8514.0,172.0,10622.0,82.0,0.0,3010.0,-164.0,132.0,-5340,2.02,15.97,124.76,78.28,0.96,14.67,0.0,0.0,35.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Auvergne-Rhône-Alpes,Données consolidées,01/01/2021,00:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Auvergne-Rhône-Alpes,Données consolidées,01/01/2021,01:00,8273.0,175.0,10652.0,78.0,0.0,2699.0,-163.0,132.0,-5299,2.12,16.25,128.76,78.5,0.94,13.95,0.0,0.0,32.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.set_option('display.max_columns', 150)

In [ ]:
#sélection des 13 premières colonnes
col_keep=df1.columns[:13]
"""
col_keep=["Périmètre", "Nature", "Date", "Heures", "Consommation", "Thermique",
       "Nucléaire", "Eolien", "Solaire", "Hydraulique", "Pompage",
       "Bioénergies", "Ech. physiques"]
"""
col_keep

Index(['Périmètre', 'Nature', 'Date', 'Heures', 'Consommation', 'Thermique',
       'Nucléaire', 'Eolien', 'Solaire', 'Hydraulique', 'Pompage',
       'Bioénergies', 'Stockage batterie'],
      dtype='object')

In [ ]:
#filtre du df des variables sélectionnées
df1=df1[col_keep]
df =df1.copy()
df.shape

(843288, 13)

In [ ]:
#nombre des valeurs manquantes de la colonne "consommation"
df["Consommation"].isna().sum()

297708

In [ ]:
# fonction de traitement de données données consommation électrique

def traitementDataConsoRTE(df):
      #df["datetime"]=pd.to_datetime(df["Date"], format='%d/%m/%Y')

        #on cancatene les colonnes date et heure pour avoir un timestamp
      
      df=df[["Périmètre","Date","Heures","Consommation"]]
      # supprime les lignes qui ont pour valeur ND et NAN de la variable con
      df = df[~df['Consommation'].isin(['ND',np.NAN])]
      df = df.reset_index(drop=True)
      df["datetime"]=pd.to_datetime(df["Date"], format='%d/%m/%Y')
      df["year"] = df["datetime"].dt.year
      df['heure'] = pd.to_datetime(df['Heures'], format='%H:%M').dt.time

      # création varaible timestamp et ordonner le df par cette variable
      df['timestamp'] = pd.to_datetime(df.Date +' '+df.heure.astype(str))
      df = df.sort_values(by='timestamp', ascending=True)
      
      #suppression toutes les lignes dont toutes les valeurs sont des NAN
      df = df.dropna(how='all')
      df = df.reset_index(drop=True)
      return df

In [ ]:
# application de la fonction de pré-traitement df  de conso electrique 
d=df.copy()
df_conso=traitementDataConsoRTE(d)

In [ ]:
df_conso

,Périmètre,Date,Heures,Consommation,datetime,year,heure,timestamp
0,Auvergne-Rhône-Alpes,01/01/2021,00:00,8576.0,2021-01-01,2021,00:00:00,2021-01-01 00:00:00
1,Pays-de-la-Loire,01/01/2021,00:00,4230.0,2021-01-01,2021,00:00:00,2021-01-01 00:00:00
2,Centre-Val de Loire,01/01/2021,00:00,2900.0,2021-01-01,2021,00:00:00,2021-01-01 00:00:00
3,Grand-Est,01/01/2021,00:00,5321.0,2021-01-01,2021,00:00:00,2021-01-01 00:00:00
4,Hauts-de-France,01/01/2021,00:00,6340.0,2021-01-01,2021,00:00:00,2021-01-01 00:00:00
...,...,...,...,...,...,...,...,...
543888,PACA,02/01/2023,14:00,4592,2023-01-02,2023,14:00:00,2023-02-01 14:00:00
543889,Hauts-de-France,02/01/2023,14:00,6686,2023-01-02,2023,14:00:00,2023-02-01 14:00:00
543890,Auvergne-Rhône-Alpes,02/01/2023,14:00,7469,2023-01-02,2023,14:00:00,2023-02-01 14:00:00
543891,Grand-Est,02/01/2023,14:00,4878,2023-01-02,2023,14:00:00,2023-02-01 14:00:00
543892,Pays-de-la-Loire,02/01/2023,14:00,3134,2023-01-02,2023,14:00:00,2023-02-01 14:00:00

In [ ]:
df_conso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543893 entries, 0 to 543892
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Périmètre     543893 non-null  object
 1   Date          543893 non-null  object
 2   Heures        543893 non-null  object
 3   Consommation  543893 non-null  object
 4   datetime      543893 non-null  datetime64[ns]
 5   year          543893 non-null  int64
 6   heure         543893 non-null  object
 7   timestamp     543893 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 33.2+ MB

In [ ]:
#sélection des variables
df_final_conso=df_conso[["Périmètre", "datetime", "year","timestamp","heure","Consommation"]]

In [ ]:
#filtre du df 
df_final_conso=df_conso[["Périmètre", "datetime", "year","timestamp","heure","Consommation"]]

# renommer la variable "périmètre" en "region"
df_final_conso=df_final_conso.rename(columns={"Périmètre":"region"})
# renommer la variable "timestamp" en "DateHeure"
df_final_conso=df_final_conso.rename(columns={"timestamp":"DateHeure"})
df_final_conso['DateHeure'] = pd.to_datetime(df_final_conso['DateHeure'],utc=True)

df_final_conso["Consommation"]=df_final_conso["Consommation"].astype(int)
# renommer la variable "Consommation" en "conso"
df_final_conso=df_final_conso.rename(columns={"Consommation":"conso"})

# Filtrer le DataFrame en ne conservant que les lignes où year est égal à 2021 ou 2022
df_conso_filter = df_final_conso.loc[(df_final_conso["year"]  == 2021) | (df_final_conso["year"] == 2022)]

# Supprimer les lignes qui ont une datetime en minutes (15 ou 45)
df_conso_region=df_conso_filter.copy()
df_conso_region = df_conso_region[~df_conso_region['DateHeure'].dt.minute.isin([15,45])]
print(df_conso_region.shape)

(419712, 6)

In [ ]:
# enregistrement du df final de consommation électrique parr région des années 2021 et 2022
directory="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_RTE_METEO"
os.chdir(directory)
df_conso_region.to_csv("df_consommation.csv",index=False)

In [ ]:
df_final_conso["region"].unique()

array(['Auvergne-Rhône-Alpes', 'Pays-de-la-Loire', 'Centre-Val de Loire',
       'Grand-Est', 'Hauts-de-France', 'Bretagne', 'Ile-de-France',
       'Nouvelle-Aquitaine', 'Bourgogne-Franche-Comté', 'Occitanie',
       'PACA', 'Normandie'], dtype=object)

In [ ]:
df_final_conso

,region,datetime,year,timestamp,heure,Consommation
0,Auvergne-Rhône-Alpes,2021-01-01,2021,2021-01-01 00:00:00,00:00:00,8576
1,Pays-de-la-Loire,2021-01-01,2021,2021-01-01 00:00:00,00:00:00,4230
2,Centre-Val de Loire,2021-01-01,2021,2021-01-01 00:00:00,00:00:00,2900
3,Grand-Est,2021-01-01,2021,2021-01-01 00:00:00,00:00:00,5321
4,Hauts-de-France,2021-01-01,2021,2021-01-01 00:00:00,00:00:00,6340
...,...,...,...,...,...,...
543888,PACA,2023-01-02,2023,2023-02-01 14:00:00,14:00:00,4592
543889,Hauts-de-France,2023-01-02,2023,2023-02-01 14:00:00,14:00:00,6686
543890,Auvergne-Rhône-Alpes,2023-01-02,2023,2023-02-01 14:00:00,14:00:00,7469
543891,Grand-Est,2023-01-02,2023,2023-02-01 14:00:00,14:00:00,4878
543892,Pays-de-la-Loire,2023-01-02,2023,2023-02-01 14:00:00,14:00:00,3134

###données conso electrique  nationnales

In [ ]:
# Chemin d'accès au dossier contenant les fichiers .xls
folder_path="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/conso_nationale"
os.chdir(folder_path)
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
len(csv_files)
df_nat=load_file(folder_path,csv_files,encoding='latin-1',delimiter=";")

----------------------------------------------------------------------------------------------------
eCO2mix_RTE_En-cours-Consolide.xls.csv
0
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
eCO2mix_RTE_En-cours-TR.xls.csv
1
----------------------------------------------------------------------------------------------------

In [ ]:
df_nat.shape

(71138, 40)

In [ ]:
col_keep=df_nat.columns[:13]
df_nat=df_nat[col_keep]
dfN=df_nat.copy()

In [ ]:
dN=dfN.copy()
dfN_conso=traitementDataConsoRTE(dN)

In [ ]:
dfN_conso

,Périmètre,Date,Heures,Consommation,datetime,year,heure,timestamp
0,France,01/01/2021,00:00,67010.0,2021-01-01,2021,00:00:00,2021-01-01 00:00:00
1,France,01/01/2021,00:30,67071.0,2021-01-01,2021,00:30:00,2021-01-01 00:30:00
2,France,01/01/2021,01:00,65052.0,2021-01-01,2021,01:00:00,2021-01-01 01:00:00
3,France,01/01/2021,01:30,64918.0,2021-01-01,2021,01:30:00,2021-01-01 01:30:00
4,France,01/01/2021,02:00,64376.0,2021-01-01,2021,02:00:00,2021-01-01 02:00:00
...,...,...,...,...,...,...,...,...
46243,France,10/01/2023,16:45,60251.0,2023-01-10,2023,16:45:00,2023-10-01 16:45:00
46244,France,10/01/2023,17:00,60273.0,2023-01-10,2023,17:00:00,2023-10-01 17:00:00
46245,France,10/01/2023,17:15,60711.0,2023-01-10,2023,17:15:00,2023-10-01 17:15:00
46246,France,10/01/2023,17:30,61739.0,2023-01-10,2023,17:30:00,2023-10-01 17:30:00
46247,France,10/01/2023,17:45,63073.0,2023-01-10,2023,17:45:00,2023-10-01 17:45:00

In [ ]:
df_final_conso=dfN_conso[["Périmètre", "datetime", "year","timestamp","heure","Consommation"]]
df_final_conso=df_final_conso.rename(columns={"Périmètre":"region"})
df_final_conso["Consommation"]=df_final_conso["Consommation"].astype(int)

# Filtrer le DataFrame en ne conservant que les lignes où year est égal à 2021 ou 2022
df_conso_filter = df_final_conso.loc[(df_final_conso["year"]  == 2021) | (df_final_conso["year"] == 2022)]

# Supprimer les lignes qui ont une datetime en minutes (15 ou 45)
df_conso_filter_clean=df_conso_filter.copy()
df_conso_nat= df_conso_filter_clean[~df_conso_filter_clean['timestamp'].dt.minute.isin([15,45])]

# renommer la variable "timestamp" en "DateHeure"
df_conso_nat=df_conso_nat.rename(columns={"timestamp":"DateHeure"})
df_conso_nat['DateHeure'] = pd.to_datetime(df_conso_nat['DateHeure'],utc=True)

df_conso_nat["Consommation"]=df_conso_nat["Consommation"].astype(int)
# renommer la variable "Consommation" en "conso"
df_conso_nat=df_conso_nat.rename(columns={"Consommation":"conso"})

print(df_conso_nat.shape)

(35040, 6)

In [ ]:
df_conso_nat

       region   datetime  year                 DateHeure     heure  conso
0      France 2021-01-01  2021 2021-01-01 00:00:00+00:00  00:00:00  67010
1      France 2021-01-01  2021 2021-01-01 00:30:00+00:00  00:30:00  67071
2      France 2021-01-01  2021 2021-01-01 01:00:00+00:00  01:00:00  65052
3      France 2021-01-01  2021 2021-01-01 01:30:00+00:00  01:30:00  64918
4      France 2021-01-01  2021 2021-01-01 02:00:00+00:00  02:00:00  64376
...       ...        ...   ...                       ...       ...    ...
45302  France 2022-12-31  2022 2022-12-31 21:30:00+00:00  21:30:00  43971
45304  France 2022-12-31  2022 2022-12-31 22:00:00+00:00  22:00:00  43506
45306  France 2022-12-31  2022 2022-12-31 22:30:00+00:00  22:30:00  44566
45308  France 2022-12-31  2022 2022-12-31 23:00:00+00:00  23:00:00  46232
45310  France 2022-12-31  2022 2022-12-31 23:30:00+00:00  23:30:00  46024

[35040 rows x 6 columns]

In [ ]:
# enregistrement des données nationnales
directory="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_RTE_METEO"
os.chdir(directory)
df_conso_nat.to_csv("df_conso_nationale.csv",index=False)

In [ ]:
df_conso_nat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35040 entries, 0 to 45310
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        35040 non-null  object
 1   datetime      35040 non-null  datetime64[ns]
 2   year          35040 non-null  int64
 3   timestamp     35040 non-null  datetime64[ns]
 4   heure         35040 non-null  object
 5   Consommation  35040 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 1.9+ MB

In [ ]:
df_conso_nat.isna().sum()

region          0
datetime        0
year            0
timestamp       0
heure           0
Consommation    0
dtype: int64

#Dans cette partie on va charger les données météo depuis le site  météo France et les prétraiter pour obtenir un df final avec un intervalle de 30 min de  rélévé météo.effectuer les prétraiements


## récupération de données météo sur le site[data météo](https://public.opendatasoft.com/explore/dataset/donnees-synop-essentielles-omm/table/?sort=date)
et

In [ ]:
#stockage de données sur mon drive
path_url="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_meteo"
os.chdir(path_url)
##extraction de données météo sur le site
##url data météo 2021/2022: https://data.opendatasoft.com/explore/dataset/donnees-synop-essentielles-omm%40public/export/?sort=date&q.timerange.date=date:%5B2020-12-31T23:00:00Z+TO+2022-12-31T22:59:59Z%5D
!wget -O data_meteo.csv https://data.opendatasoft.com/explore/dataset/donnees-synop-essentielles-omm@public/download/?format=csv&q=date:%5B2020-12-31T23:00:00Z+TO+2022-12-31T22:59:59Z%5D&timezone=Europe/Berlin&lang=fr&use_labels_for_header=true&csv_separator=%3B
#!unzip -qq data_meteo.zip

--2023-02-05 09:26:23--  https://data.opendatasoft.com/explore/dataset/donnees-synop-essentielles-omm@public/download/?format=csv
Resolving data.opendatasoft.com (data.opendatasoft.com)... 34.249.199.226, 34.248.20.69
Connecting to data.opendatasoft.com (data.opendatasoft.com)|34.249.199.226|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/csv]
Saving to: ‘data_meteo.csv’

data_meteo.csv          [            <=>     ]  20.95M   815KB/s

KeyboardInterrupt: ignored

In [ ]:
# chargement de données météo
import time
# temps de chargment
start_time = time.perf_counter()

df=pd.read_csv("data_meteoV4.csv",delimiter=",")#,nrows=20_000
end_time = time.perf_counter()
print(end_time-start_time," secondes")
df.shape

33.130769482999995  secondes

(2193942, 82)

In [ ]:
df.head(3)

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,vv,ww,w1,w2,n,nbas,hbas,cl,cm,ch,pres,niv_bar,geop,tend24,tn12,tn24,tx12,tx24,tminsol,sw,tw,raf10,rafper,per,etat_sol,ht_neige,ssfrai,perssfrai,rr1,rr3,rr6,rr12,rr24,phenspe1,phenspe2,phenspe3,phenspe4,nnuage1,ctype1,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,coordonnees,nom,type_de_tendance_barometrique,temps_passe_1,temps_present,tc,tn12c,tn24c,tx12c,tx24c,tminsolc,latitude,longitude,altitude,libgeo,codegeo,nom_epci,code_epci,nom_dept,code_dep,nom_reg,code_reg,mois_de_l_annee
0,7558,2010-01-05T09:00:00+00:00,100280.0,-50.0,5.0,260.0,1.5,275.75,275.75,100.0,4000.0,50.0,5.0,5.0,100.0,8.0,250.0,37.0,61.0,60.0,91870.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,-10.0,NaN,NaN,0.0,-30.0,0.0,0.4,NaN,NaN,NaN,710.0,1102.0,3100.0,NaN,6.0,7.0,180.0,7.0,6.0,480.0,NaN,NaN,NaN,NaN,NaN,NaN,"44.1185,3.0195",MILLAU,"En baisse, puis en hausse, la pression atmosph...",Bruine,"Bruine, sans congélation, intermittente, faibl...",2.6,NaN,NaN,NaN,NaN,NaN,44.118500,3.019500,712,Millau,12145,CC de Millau Grands Causses,241200567.0,Aveyron,12,Occitanie,76.0,1
1,61976,2010-01-05T09:00:00+00:00,100990.0,NaN,NaN,NaN,NaN,305.45,299.05,69.0,50000.0,2.0,1.0,1.0,60.0,1.0,800.0,32.0,20.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,2439.0,NaN,NaN,NaN,1.0,8.0,600.0,5.0,0.0,7500.0,NaN,NaN,NaN,NaN,NaN,NaN,"-15.887667,54.520667",TROMELIN,NaN,Nuages couvrant plus de la moitié du ciel pend...,État du ciel inchangé dans l’ensemble,32.3,NaN,NaN,NaN,NaN,NaN,-15.887667,54.520667,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,7027,2010-01-05T12:00:00+00:00,100720.0,-190.0,8.0,200.0,3.6,273.65,271.75,87.0,12000.0,2.0,1.0,1.0,75.0,6.0,800.0,35.0,20.0,10.0,99880.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1,-10.0,NaN,NaN,0.0,-60.0,0.0,0.0,0.0,NaN,NaN,710.0,1105.0,3100.0,NaN,3.0,6.0,810.0,6.0,6.0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,"49.18,-0.456167",CAEN-CARPIQUET,"Stationnaire ou en hausse, puis en baisse, ou ...",Nuages couvrant plus de la moitié du ciel pend...,État du ciel inchangé dans l’ensemble,0.5,NaN,NaN,NaN,NaN,NaN,49.180000,-0.456167,67,Carpiquet,14137,CU Caen la Mer,200065597.0,Calvados,14,Normandie,28.0,1

In [ ]:
#je selectionne quelques varaibles importantes 
temp=df.iloc[:,:8]
#chargement données station-region stocker dans le drive
df_station=pd.read_csv("region_station_meteo.csv",delimiter=";" , encoding="latin-1")
region_dict = df_station.set_index('ID_station')['Région'].to_dict()

#ajout varigee "region" dans df "temp  afin de faire corresponde 
#chaque stationà sa region à partir la colonnes "numer_sta" et "ID_station
temp['region'] = temp['numer_sta'].map(region_dict)

#convertir les variables en datetime
temp['DateHeure'] = pd.to_datetime(df['date'])
temp["year"] = temp["DateHeure"].dt.year
temp=temp.sort_values(by=["year","DateHeure"])
temp = temp.reset_index(drop=True)
temp=temp.iloc[:,[0,7,8,9,10]]
# le df météo  final après l'ajout de la variable région
temp.head(4)

   numer_sta       t     region                 DateHeure  year
0       7037  273.45  Normandie 2010-01-01 00:00:00+00:00  2010
1      78897  298.75    Mayotte 2010-01-01 00:00:00+00:00  2010
2       7661  285.35       PACA 2010-01-01 00:00:00+00:00  2010
3      61968  300.95    Mayotte 2010-01-01 00:00:00+00:00  2010

In [ ]:
#liste des régions
regions=temp['region'].unique().tolist()
print("total région:",len(regions))
regions

total région: 14

['Normandie',
 'Mayotte',
 'PACA',
 'Pays-de-la-Loire',
 'CORSE',
 'Nouvelle-Aquitaine',
 'Bretagne',
 'Centre-Val de Loire',
 'Grand-Est',
 'Auvergne-Rhône-Alpes',
 'Hauts-de-France',
 'Occitanie',
 'Bourgogne-Franche-Comté',
 'Ile-de-France']

In [ ]:
#création d'un df datetime intervallle de 3h
def date_to_range3H():
      """
      entrée:None
      return: un df datetime de 3h d'intervalle
      """
      datetime = pd.date_range(start="2021-01-01", end="2023-01-01", freq='3H')
      dt = pd.DataFrame(index=datetime)
      dt=dt[:-1]
      dt["DateHeure"]=dt.index
      dt['DateHeure'] = pd.to_datetime(dt['DateHeure'],utc=True)
      dt['year1'] = dt['DateHeure'].dt.year
      dt = dt.reset_index(drop=True)
      return  dt

def agg_func(x):
    """
    x: chaque ligne de mon df
    return: un dict 
    Note: calcule la moyenne  pour chaque région pour chaque 3h
    car on a plusieurs releveé dnas une meme région à 
    chaque heure (plusierus station de rélevé météo)
    """
    return pd.DataFrame.from_dict({
        't': x['t'].mean(),
        #'region': x['region'].unique() #  'region': ''.join(x['region'].unique())
        #'region': ''.join(x['region'].unique())
        'region':','.join(x['region'].astype(str).unique())
        #'year':''.join(str(x['year'].unique()))
    }, orient='index').transpose()

years=[2021,2022]
def df_of_region(df,year=years):
    """
    df: la dat frame temp
    years:lst d'année , pour filtrer notre df
    return: un df 
    """
    df_of_region=pd.DataFrame()
    for region in df['region'].unique():
        for year in years:
            temp=df.loc[(df["region"]==region) & (df["year"]==year)]
            df_date3h=date_to_range3H()
            df_date3h=df_date3h.loc[df_date3h["year1"]==year]
            # concatenantion
            df_merged = pd.merge(df_date3h, temp, on='DateHeure', how='right')
            temp=df_merged.copy()
            #df_of_region = pd.concat([df_of_region, temp])
            # Groupby la colonne datetime et appliquer la fonction
       
            temp= temp.groupby('DateHeure').apply(agg_func).reset_index()
            temp['year'] = temp['DateHeure'].dt.year
            temp=temp[['DateHeure','year', 'region','t']]
            df_of_region = pd.concat([df_of_region, temp])
            
    return df_of_region

In [ ]:
#création de la base de données en appliquant les fonctions d'en haut
years=[2021,2022]
df_meteo=df_of_region(temp,year=years)
df_meteo.shape

(81712, 4)

In [ ]:
#vérification des dimension pour chaque région
for region in regions:
      T=df_meteo.loc[(df_meteo["region"]==region)]
      print(region," : ",T.shape)

Normandie  :  (5838, 4)
Mayotte  :  (5838, 4)
PACA  :  (5838, 4)
Pays-de-la-Loire  :  (5838, 4)
CORSE  :  (5837, 4)
Nouvelle-Aquitaine  :  (5838, 4)
Bretagne  :  (5838, 4)
Centre-Val de Loire  :  (5838, 4)
Grand-Est  :  (5838, 4)
Auvergne-Rhône-Alpes  :  (5838, 4)
Hauts-de-France  :  (5838, 4)
Occitanie  :  (5838, 4)
Bourgogne-Franche-Comté  :  (5822, 4)
Ile-de-France  :  (5835, 4)

In [ ]:
#filtre sur la region Normandie
temp=df_meteo.copy()
temp1=temp.loc[(temp["region"]=="Normandie") & (temp["year"]==2022)]
temp1=temp1[temp1.columns[1:]]
temp1

      year     region        t
0     2022  Normandie  285.125
1     2022  Normandie    284.7
2     2022  Normandie    283.0
3     2022  Normandie  283.325
4     2022  Normandie  286.575
...    ...        ...      ...
2915  2022  Normandie  286.775
2916  2022  Normandie  287.425
2917  2022  Normandie   287.75
2918  2022  Normandie   287.95
2919  2022  Normandie  286.725

[2920 rows x 3 columns]

In [ ]:
"""
création d'un df datime avec un intervalle de 30mn
# dans "df temp", les températures sont rélevées pour chaque 3h or 
#pour   le fusionner  avec le "df consommation électrique", les données
# doivent etre rélevé dans le meme inetrvalle de temps soit 30mn
"""
def create_date_range(start_date = '2021-01-01',end_date = '2023-01-01'):
      # Créer un index de datetime avec une fréquence de 30 minutes
      datetime_index = pd.date_range(start=start_date, end=end_date, freq='30T')

      # Créer une colonne datetime à partir de l'index
      df = pd.DataFrame(index=datetime_index)

      # Créer un masque booléen pour filtrer les demies-heures (00h30, 3h30, etc.)
      mask =(df.index.hour == 0) & (df.index.minute == 00) |(df.index.hour == 3) & (df.index.minute == 00) | (df.index.hour == 6) & (df.index.minute == 00) | (df.index.hour == 9) & (df.index.minute == 00) | (df.index.hour == 12) & (df.index.minute == 00) | (df.index.hour == 15) & (df.index.minute == 00) | (df.index.hour == 18) & (df.index.minute == 00) | (df.index.hour == 21) & (df.index.minute == 00)

      # Appliquer le masque pour filtrer les dates
      df = df[~mask]

      df["DateHeure"]=df.index
      df['year'] = df['DateHeure'].dt.year
      df = df.reset_index(drop=True)
      return df

In [ ]:
# aplication de la fonction pour créer un df  avec un intervalle de 30mn
df_datetime_manquantes=pd.DataFrame()
datetime_manquantes=create_date_range()
for region in regions:
  temp=datetime_manquantes
  temp["region"]=region
  df_datetime_manquantes = pd.concat([df_datetime_manquantes, temp])
  df_datetime_manquantes["t"]=np.nan

In [ ]:
#visualisation des quelques lignes
df_datetime_manquantes.head(15)

             DateHeure  year     region   t
0  2021-01-01 00:30:00  2021  Normandie NaN
1  2021-01-01 01:00:00  2021  Normandie NaN
2  2021-01-01 01:30:00  2021  Normandie NaN
3  2021-01-01 02:00:00  2021  Normandie NaN
4  2021-01-01 02:30:00  2021  Normandie NaN
5  2021-01-01 03:30:00  2021  Normandie NaN
6  2021-01-01 04:00:00  2021  Normandie NaN
7  2021-01-01 04:30:00  2021  Normandie NaN
8  2021-01-01 05:00:00  2021  Normandie NaN
9  2021-01-01 05:30:00  2021  Normandie NaN
10 2021-01-01 06:30:00  2021  Normandie NaN
11 2021-01-01 07:00:00  2021  Normandie NaN
12 2021-01-01 07:30:00  2021  Normandie NaN
13 2021-01-01 08:00:00  2021  Normandie NaN
14 2021-01-01 08:30:00  2021  Normandie NaN

In [ ]:
#trie du df_datetime  par  region et dateime
df_datetime=df_datetime_manquantes.sort_values(by=["region","DateHeure"])
df_datetime

                DateHeure  year                region   t
0     2021-01-01 00:30:00  2021  Auvergne-Rhône-Alpes NaN
1     2021-01-01 01:00:00  2021  Auvergne-Rhône-Alpes NaN
2     2021-01-01 01:30:00  2021  Auvergne-Rhône-Alpes NaN
3     2021-01-01 02:00:00  2021  Auvergne-Rhône-Alpes NaN
4     2021-01-01 02:30:00  2021  Auvergne-Rhône-Alpes NaN
...                   ...   ...                   ...  ..
29195 2022-12-31 21:30:00  2022      Pays-de-la-Loire NaN
29196 2022-12-31 22:00:00  2022      Pays-de-la-Loire NaN
29197 2022-12-31 22:30:00  2022      Pays-de-la-Loire NaN
29198 2022-12-31 23:00:00  2022      Pays-de-la-Loire NaN
29199 2022-12-31 23:30:00  2022      Pays-de-la-Loire NaN

[408800 rows x 4 columns]

In [ ]:
#concatenation df_datetime manquante  et df temp pour obetnir un df_finale
df_final_meteo=pd.concat([df_meteo,df_datetime])
df_final_meteo['DateHeure'] = pd.to_datetime(df_final_meteo['DateHeure'],utc=True)

In [ ]:
#visualisation
df_final_meteo.head()

                  DateHeure  year     region        t
0 2021-01-01 00:00:00+00:00  2021  Normandie  272.775
1 2021-01-01 03:00:00+00:00  2021  Normandie  273.525
2 2021-01-01 06:00:00+00:00  2021  Normandie  272.925
3 2021-01-01 09:00:00+00:00  2021  Normandie  273.775
4 2021-01-01 12:00:00+00:00  2021  Normandie   276.55

In [ ]:
#création df final pour les données température en France de 2021 à 2022 par région 
# traitement des valeurs manquantes par interpolation linéaire 
# retrait des territoires  Mayotte et Corse
temp=df_final_meteo.copy()
temp=temp.sort_values(by=["region","DateHeure"])
temp = temp.reset_index(drop=True)
temp["t"]=temp["t"].astype(float)

#remplacement de NAN des temp manquantes par interpolation linéaire
temp['temp']=temp['t'].interpolate(method='linear') #nearest
temp=temp.iloc[:,[0,1,2,4]]
df_final_meteo=temp[~temp['region'].isin(["Mayotte","CORSE"])]  #exclure Mayotte et Corse

print(df_final_meteo.shape)
#vérification des NAN dans la colonne "temp"
df_final_meteo.isna().sum()

(420437, 4)

DateHeure    0
year         0
region       0
temp         0
dtype: int64

In [ ]:
df_final_meteo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420437 entries, 0 to 490511
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   DateHeure   420437 non-null  datetime64[ns, UTC]
 1   year        420437 non-null  int64
 2   region      420437 non-null  object
 3   temperatue  420437 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(1), object(1)
memory usage: 16.0+ MB

In [ ]:
#vérification des dimensions de  données de chaque région
for region in df_final_meteo["region"].unique().tolist():
      T=df_final_meteo.loc[(df_final_meteo["region"]==region)]
      print(region," : ",T.shape)

Auvergne-Rhône-Alpes  :  (35038, 4)
Bourgogne-Franche-Comté  :  (35022, 4)
Bretagne  :  (35038, 4)
Centre-Val de Loire  :  (35038, 4)
Grand-Est  :  (35038, 4)
Hauts-de-France  :  (35038, 4)
Ile-de-France  :  (35035, 4)
Normandie  :  (35038, 4)
Nouvelle-Aquitaine  :  (35038, 4)
Occitanie  :  (35038, 4)
PACA  :  (35038, 4)
Pays-de-la-Loire  :  (35038, 4)

###merge df final des régions

In [ ]:
#merge df consommation et df météo des régions
df_electricity_sort=df_conso_region.sort_values(by=["region","DateHeure"])
df_meteo_sort=df_final_meteo.sort_values(by=["region","DateHeure"])
df_merged = pd.merge(df_electricity_sort, df_meteo_sort, on=['DateHeure','region'])
df_region=df_merged[["DateHeure","region","conso","temp"]]
#df_region['conso']=df_region['conso'].astype(int)

### ajout de la température  dans le df de consommation electrique  au niveau natianle

ajout temp moyenne nationnale pour les 30 min

In [ ]:
#fonction qui calcule la température moyenne nationale pour chaque 30mn
def agg_func(x):
    return pd.DataFrame.from_dict({
        'temp': x['temp'].mean()
    }, orient='index').transpose()

df_meteo1=df_final_meteo.copy()
df_meteo_sort=df_meteo1.sort_values(by=["DateHeure"])
#application de la fonction pou calculer la temp moyenne
temp_mean_nat= df_meteo_sort.groupby('DateHeure').apply(agg_func).reset_index()
temp_mean_nat.head()

                  DateHeure  level_1        temp
0 2021-01-01 00:00:00+00:00        0  274.741944
1 2021-01-01 00:30:00+00:00        0  274.671505
2 2021-01-01 01:00:00+00:00        0  274.601065
3 2021-01-01 01:30:00+00:00        0  274.530625
4 2021-01-01 02:00:00+00:00        0  274.460185

In [ ]:
# jout de la tempéature moyenne nationale dans le df_conso_nationale
df_conso_nat_finale=pd.merge(df_conso_nat,temp_mean_nat,on=['DateHeure'])

In [ ]:
df_conso_nat_finale

,region,datetime,year,DateHeure,heure,conso,level_1,temp
0,France,2021-01-01,2021,2021-01-01 00:00:00+00:00,00:00:00,67010,0,274.741944
1,France,2021-01-01,2021,2021-01-01 00:30:00+00:00,00:30:00,67071,0,274.671505
2,France,2021-01-01,2021,2021-01-01 01:00:00+00:00,01:00:00,65052,0,274.601065
3,France,2021-01-01,2021,2021-01-01 01:30:00+00:00,01:30:00,64918,0,274.530625
4,France,2021-01-01,2021,2021-01-01 02:00:00+00:00,02:00:00,64376,0,274.460185
...,...,...,...,...,...,...,...,...
35033,France,2022-12-31,2022,2022-12-31 21:30:00+00:00,21:30:00,43971,0,284.921227
35034,France,2022-12-31,2022,2022-12-31 22:00:00+00:00,22:00:00,43506,0,283.521204
35035,France,2022-12-31,2022,2022-12-31 22:30:00+00:00,22:30:00,44566,0,282.121181
35036,France,2022-12-31,2022,2022-12-31 23:00:00+00:00,23:00:00,46232,0,280.721157
35037,France,2022-12-31,2022,2022-12-31 23:30:00+00:00,23:30:00,46024,0,279.321134

In [ ]:
# je concatene tout (df_region et df_conso_nat_finale) pour avoir un seul df final apres tous les prétraitement
df_global=pd.concat([df_region,df_conso_nat_finale])
df_global=df_global[["DateHeure","region","conso","temp"]]
df_global.shape

(454707, 4)

In [ ]:
#visualisation 
df_global

                      DateHeure                region  conso        temp
0     2021-01-01 00:00:00+00:00  Auvergne-Rhône-Alpes   8576  276.125000
1     2021-01-01 00:30:00+00:00  Auvergne-Rhône-Alpes   8514  276.012500
2     2021-01-01 01:00:00+00:00  Auvergne-Rhône-Alpes   8273  275.900000
3     2021-01-01 01:30:00+00:00  Auvergne-Rhône-Alpes   8253  275.787500
4     2021-01-01 02:00:00+00:00  Auvergne-Rhône-Alpes   8234  275.675000
...                         ...                   ...    ...         ...
35033 2022-12-31 21:30:00+00:00                France  43971  284.921227
35034 2022-12-31 22:00:00+00:00                France  43506  283.521204
35035 2022-12-31 22:30:00+00:00                France  44566  282.121181
35036 2022-12-31 23:00:00+00:00                France  46232  280.721157
35037 2022-12-31 23:30:00+00:00                France  46024  279.321134

[454707 rows x 4 columns]

In [ ]:
df_global.isna().sum()

DateHeure    0
region       0
conso        0
temp         0
dtype: int64

In [ ]:
#sauvegarde du df final en csv dans mon drive
# enregistrement du df final de consommation électrique parr région des années 2021 et 2022
directory="/content/drive/MyDrive/MALIA/FORCASTING/projet_forecasting/data_RTE_METEO"
os.chdir(directory)
df_global.to_csv("df_prevision_electricity.csv",index=False)

### ajout des variables temps dans le df_global

In [ ]:
def df_to_matrix(df):
      df_mc=df_global.copy()
      df_mc['heure'] = df_mc['DateHeure'].dt.hour
      df_mc['hour'] = df_mc['DateHeure'].dt.strftime('%H:%M')
      df_mc['date'] = df_mc['DateHeure'].dt.strftime('%Y-%m-%d')
      df_mc['date'] = pd.to_datetime(df_mc['date'])
      #df_mc['period_journey'] = df_mc['heure'].apply(lambda x: 'Matin' if x <12 else ('Apres-midi' if x <18 else ('Soir' if x < 22  else 'Nuit')))
      df_mc['period_journey'] = df_mc['heure'].apply(lambda x: 0 if x <12 else (1 if x <18 else (2 if x < 22  else 3)))
      df_matrix = df_mc.pivot_table(index=["date"], 
                                                  columns=["hour","region"], 
                                                  values="conso")
      # Reconstruction des informations calendrier utiles

      # Créez une colonne de jours de la semaine en utilisant la fonction weekday de calendar
      df_matrix["weekday"] = [calendar.day_name[date.weekday()] 
                                            for date in df_matrix.index]

      # Ajoutez une colonne "Weekend" qui indique si la date est un week-end ou non
      df_matrix['Weekend'] =[True if date.weekday() in [calendar.SATURDAY, calendar.SUNDAY] else False   for date in df_matrix.index]
      df_matrix['month'] = df_matrix.index.strftime('%B')
      df_matrix["year"] = df_matrix.index.year
      # création d'une colonne pour indiquer si le jour est férié ou pas
      # objet holiday France
      fr_holidays = holidays.country_holidays('FR')
      df_matrix["isHolyday"]=df_matrix.index.map(lambda d: d in fr_holidays) 
      return df_matrix

In [ ]:
#appliation de la fonction
df_matix=df_to_matrix(df_global)

In [ ]:
#sauvegarde
#sauvegarde df global
df_matix.to_csv("df_ajout_var_calendar.csv",index=False)

In [ ]:
df_matix

hour                      00:00                                   \
region     Auvergne-Rhône-Alpes Bourgogne-Franche-Comté Bretagne
date
2021-01-01               8576.0                  2671.0   3984.0
2021-01-02               8111.0                  2352.0   3018.0
2021-01-03               7547.0                  2334.0   3219.0
2021-01-04               6566.0                  2081.0   2608.0
2021-01-05               6671.0                  2175.0   2656.0
...                         ...                     ...      ...
2022-12-27                  NaN                     NaN      NaN
2022-12-28               7797.0                  2027.0   2812.0
2022-12-29               7691.0                  1814.0   2827.0
2022-12-30               7432.0                  1975.0   2936.0
2022-12-31               7167.0                  1695.0   2546.0

hour                                                               \
region     Centre-Val de Loire   France Grand-Est Hauts-de-France
date
2021-01-01              2900.0  67010.0    5321.0          6340.0
2021-01-02              2648.0  58834.0    5383.0          6550.0
2021-01-03              2594.0  57017.0    5035.0          5937.0
2021-01-04              1888.0  48189.0    4611.0          5406.0
2021-01-05              2130.0  50370.0    4781.0          5625.0
...                        ...      ...       ...             ...
2022-12-27                 NaN  50799.0       NaN             NaN
2022-12-28              2356.0  52142.0    4092.0          6507.0
2022-12-29              2221.0  51097.0    4002.0          5316.0
2022-12-30              2315.0  51553.0    3807.0          6306.0
2022-12-31              2099.0  48022.0    4074.0          6133.0

hour                                                                     \
region     Ile-de-France Normandie Nouvelle-Aquitaine Occitanie    PACA
date
2021-01-01        9914.0    4326.0             6512.0    5840.0  6395.0
2021-01-02        8337.0    3578.0             5083.0    5051.0  5315.0
2021-01-03        8364.0    3625.0             5205.0    4678.0  4995.0
2021-01-04        6577.0    2801.0             4249.0    4179.0  4343.0
2021-01-05        7274.0    3154.0             4442.0    4176.0  4451.0
...                  ...       ...                ...       ...     ...
2022-12-27           NaN       NaN                NaN       NaN     NaN
2022-12-28        8249.0    3416.0             4795.0    4540.0  4793.0
2022-12-29        7919.0    3287.0             4685.0    4667.0  4731.0
2022-12-30        8180.0    3480.0             4857.0    4498.0  4669.0
2022-12-31        7483.0    3061.0             4511.0    4397.0  4781.0

hour                                       00:30                          \
region     Pays-de-la-Loire Auvergne-Rhône-Alpes Bourgogne-Franche-Comté
date
2021-01-01           4230.0               8514.0                  2618.0
2021-01-02           3408.0               7829.0                  2294.0
2021-01-03           3485.0               7562.0                  2304.0
2021-01-04           2881.0               6470.0                  2026.0
2021-01-05           2834.0               6501.0                  2104.0
...                     ...                  ...                     ...
2022-12-27              NaN               6719.0                  2020.0
2022-12-28           3371.0               7573.0                  2000.0
2022-12-29           3296.0               7225.0                  1765.0
2022-12-30           3455.0               7148.0                  1956.0
2022-12-31           3063.0               6833.0                  1639.0

hour                                                                        \
region     Bretagne Centre-Val de Loire   France Grand-Est Hauts-de-France
date
2021-01-01   3968.0              2977.0  67071.0    5485.0          6566.0
2021-01-02   2905.0              2601.0  57555.0    5281.0          6322.0
2021-01-03   3130.0              2570.0  56253.0    4960.0          5946.0
2021-01-04   2445.0              1828.0  46851.0    4564.0          5237.0
2021-01-05   2543.0              2124.0  48750.0    4485.0          5554.0
...             ...                 ...      ...       ...             ...
2022-12-27   2921.0              2365.0  49389.0    4008.0          6370.0
2022-12-28   2771.0              2408.0  50954.0    3991.0          6295.0
2022-12-29   2690.0              2161.0  49259.0    3928.0          5234.0
2022-12-30   2834.0              2251.0  50016.0    3653.0          5977.0
2022-12-31   2415.0              2017.0  46452.0    4021.0          6006.0

hour                                                                     \
region     Ile-de-France Normandie Nouvelle-Aquitaine Occitanie    PACA
date
2021-01-01        9838.0    4288.0             6522.0    5713.0  6290.0
2021-01-02        8093.0    3491.0             5388.0    4871.0  5088.0
2021-01-03        8189.0    3568.0             5244.0    4519.0  4785.0
2021-01-04        6429.0    2716.0             4208.0    4011.0  4133.0
2021-01-05        7025.0    3040.0             4473.0    3902.0  4241.0
...                  ...       ...                ...       ...     ...
2022-12-27        8011.0    3512.0             4693.0    4098.0  4328.0
2022-12-28        8013.0    3393.0             4840.0    4491.0  4672.0
2022-12-29        7658.0    3169.0             4695.0    4443.0  4515.0
2022-12-30        7957.0    3415.0             4807.0    4255.0  4467.0
2022-12-31        7246.0    2986.0             4482.0    4222.0  4561.0

hour                                       01:00                          \
region     Pays-de-la-Loire Auvergne-Rhône-Alpes Bourgogne-Franche-Comté
date
2021-01-01           4292.0               8273.0                  2576.0
2021-01-02           3392.0               7659.0                  2217.0
2021-01-03           3476.0               7342.0                  2260.0
2021-01-04           2785.0               6259.0                  1982.0
2021-01-05           2759.0               6260.0                  2007.0
...                     ...                  ...                     ...
2022-12-27           3515.0               6639.0                  1919.0
2022-12-28           3362.0               7559.0                  1942.0
2022-12-29           3205.0               7186.0                  1749.0
2022-12-30           3356.0               7006.0                  1887.0
2022-12-31           2987.0               6529.0                  1582.0

hour                                                                        \
region     Bretagne Centre-Val de Loire   France Grand-Est Hauts-de-France
date
2021-01-01   3780.0              2900.0  65052.0    5332.0          6393.0
2021-01-02   2752.0              2527.0  55614.0    5169.0          6215.0
2021-01-03   2950.0              2485.0  54328.0    4854.0          5729.0
2021-01-04   2227.0              1726.0  44803.0    4412.0          5153.0
2021-01-05   2311.0              2003.0  46257.0    4245.0          5450.0
...             ...                 ...      ...       ...             ...
2022-12-27   2744.0              2265.0  47614.0    3967.0          6257.0
2022-12-28   2501.0              2269.0  48993.0    3904.0          6111.0
2022-12-29   2506.0              2098.0  47264.0    3831.0          5013.0
2022-12-30   2651.0              2188.0  48270.0    3472.0          5674.0
2022-12-31   2259.0              1925.0  44687.0    3982.0          5950.0

hour                                                                     \
region     Ile-de-France Normandie Nouvelle-Aquitaine Occitanie    PACA
date
2021-01-01        9537.0    4185.0             6375.0    5460.0  6106.0
2021-01-02        7691.0    3343.0             5214.0    4662.0  4946.0
2021-01-03        7864.0    3478.0             5101.0    4307.0  4639.0
2021-01-04        6070.0    2602.0             4022.0    3805.0  3953.0
2021-01-05        6618.0    2906.0             4271.0    3630.0  4013.0
...                  ...       ...                ...       ...     ...
2022-12-27        7716.0    3396.0             4629.0    3874.0  4173.0
2022-12-28        7546.0    3231.0             4707.0    4267.0  4499.0
2022-12-29        7231.0    3061.0             4563.0    4249.0  4370.0
2022-12-30        7614.0    3310.0             4802.0    4073.0  4400.0
2022-12-31        6881.0    2863.0             4373.0    3993.0  4485.0

hour                                       01:30                          \
region     Pays-de-la-Loire Auvergne-Rhône-Alpes Bourgogne-Franche-Comté
date
2021-01-01           4135.0               8253.0                  2604.0
2021-01-02           3217.0               7625.0                  2253.0
2021-01-03           3318.0               7379.0                  2303.0
2021-01-04           2594.0               6246.0                  1995.0
2021-01-05           2542.0               6213.0                  2038.0
...                     ...                  ...                     ...
2022-12-27           3354.0               6701.0                  1966.0
2022-12-28           3148.0               7208.0                  1928.0
2022-12-29           3024.0               7235.0                  1768.0
2022-12-30           3197.0               6965.0                  1908.0
2022-12-31           2814.0               6221.0                  1632.0

hour                                                                        \
region     Bretagne Centre-Val de Loire   France Grand-Est Hauts-de-France
date
2021-01-01   3705.0              2942.0  64918.0    5355.0          6403.0
2021-01-02   2704.0              2553.0  55499.0    5188.0          6262.0
2021-01-03   2900.0              2534.0  54617.0    4920.0          5886.0
2021-01-04   2155.0              1741.0  44447.0    4444.0          5143.0
2021-01-05   2227.0              2035.0  46011.0    4377.0          5401.0
...             ...                 ...      ...       ...             ...
2022-12-27   2720.0              2322.0  47917.0    3956.0          6348.0
2022-12-28   2503.0              2327.0  49312.0    4102.0          6147.0
2022-12-29   2480.0              2112.0  47165.0    3982.0          5059.0
2022-12-30   2648.0              2252.0  48403.0    3678.0          5504.0
2022-12-31   2245.0              1958.0  44516.0    3890.0          6007.0

hour                                                                     \
region     Ile-de-France Normandie Nouvelle-Aquitaine Occitanie    PACA
date
2021-01-01        9201.0    4193.0             6581.0    5421.0  6102.0
2021-01-02        7361.0    3384.0             5344.0    4631.0  4969.0
2021-01-03        7620.0    3516.0             5255.0    4285.0  4673.0
2021-01-04        5698.0    2599.0             4142.0    3767.0  3942.0
2021-01-05        6302.0    2930.0             4364.0    3585.0  4012.0
...                  ...       ...                ...       ...     ...
2022-12-27        7424.0    3447.0             4755.0    3900.0  4231.0
2022-12-28        7301.0    3268.0             4920.0    4283.0  4557.0
2022-12-29        6948.0    3121.0             4647.0    4199.0  4410.0
2022-12-30        7359.0    3354.0             4887.0    4107.0  4380.0
2022-12-31        6612.0    2907.0             4518.0    3956.0  4542.0

hour                                       02:00                          \
region     Pays-de-la-Loire Auvergne-Rhône-Alpes Bourgogne-Franche-Comté
date
2021-01-01           4158.0               8234.0                  2646.0
2021-01-02           3226.0               7656.0                  2329.0
2021-01-03           3345.0               7437.0                  2376.0
2021-01-04           2575.0               6171.0                  2082.0
2021-01-05           2528.0               6190.0                  2077.0
...                     ...                  ...                     ...
2022-12-27           3392.0               6838.0                  2006.0
2022-12-28           3196.0               7282.0                  2017.0
2022-12-29           3041.0               7222.0                  1912.0
2022-12-30           3244.0               7053.0                  1976.0
2022-12-31           2818.0               6494.0                  1660.0

hour                                                                        \
region     Bretagne Centre-Val de Loire   France Grand-Est Hauts-de-France
date
2021-01-01   3790.0              2865.0  64376.0    5390.0          6284.0
2021-01-02   2790.0              2474.0  55154.0    5262.0          6087.0
2021-01-03   3006.0              2471.0  54507.0    5013.0          5745.0
2021-01-04   2253.0              1651.0  44215.0    4518.0          5035.0
2021-01-05   2333.0              1931.0  45330.0    4312.0          5260.0
...             ...                 ...      ...       ...             ...
2022-12-27   2825.0              2301.0  48163.0    4043.0          6426.0
2022-12-28   2541.0              2256.0  49140.0    4130.0          5992.0
2022-12-29   2619.0              2195.0  48229.0    4087.0          5303.0
2022-12-30   2700.0              2185.0  48323.0    3733.0          5399.0
2022-12-31   2338.0              1892.0  44300.0    3877.0          5894.0

hour                                                                     \
region     Ile-de-France Normandie Nouvelle-Aquitaine Occitanie    PACA
date
2021-01-01        8970.0    4179.0             6465.0    5365.0  5970.0
2021-01-02        7200.0    3360.0             5194.0    4608.0  4936.0
2021-01-03        7486.0    3500.0             5138.0    4275.0  4676.0
2021-01-04        5579.0    2555.0             4065.0    3767.0  3966.0
2021-01-05        6097.0    2887.0             4211.0    3535.0  3968.0
...                  ...       ...                ...       ...     ...
2022-12-27        7275.0    3437.0             4662.0    3923.0  4255.0
2022-12-28        7084.0    3206.0             4825.0    4305.0  4567.0
2022-12-29        6760.0    3143.0             4701.0    4245.0  4426.0
2022-12-30        7183.0    3359.0             4817.0    4136.0  4390.0
2022-12-31        6429.0    2895.0             4251.0    3847.0  4542.0

hour                                       02:30                          \
region     Pays-de-la-Loire Auvergne-Rhône-Alpes Bourgogne-Franche-Comté
date
2021-01-01           4216.0               8254.0                  2644.0
2021-01-02           3258.0               7700.0                  2329.0
2021-01-03           3384.0               7511.0                  2416.0
2021-01-04           2573.0               6203.0                  2070.0
2021-01-05           2529.0               6140.0                  2055.0
...                     ...                  ...                     ...
2022-12-27           3456.0               6827.0                  2052.0
2022-12-28           3212.0               7324.0                  2013.0
2022-12-29           3155.0               7163.0                  1913.0
2022-12-30           3284.0               7047.0                  1962.0
2022-12-31           2819.0               6490.0                  1654.0

hour                                                                        \
region     Bretagne Centre-Val de Loire   France Grand-Est Hauts-de-France
date
2021-01-01   3663.0              2826.0  63758.0    5325.0          6133.0
2021-01-02   2680.0              2448.0  54760.0    5229.0          6042.0
2021-01-03   2926.0              2449.0  54221.0    5026.0          5571.0
2021-01-04   2133.0              1628.0  43640.0    4475.0          4912.0
2021-01-05   2194.0              1889.0  44678.0    4268.0          5155.0
...             ...                 ...      ...       ...             ...
2022-12-27   2791.0              2316.0  47826.0    3991.0          6254.0
2022-12-28   2543.0              2279.0  48898.0    4141.0          5925.0
2022-12-29   2560.0              2140.0  47897.0    4119.0          5149.0
2022-12-30   2659.0              2137.0  47762.0    3728.0          5286.0
2022-12-31   2269.0              1840.0  43708.0    3805.0          5773.0

hour                                                   ...     21:00  \
region     Ile-de-France Normandie Nouvelle-Aquitaine  ... Normandie
date                                                   ...
2021-01-01        8906.0    4053.0             6485.0  ...    4183.0
2021-01-02        7139.0    3276.0             5211.0  ...    3782.0
2021-01-03        7467.0    3421.0             5180.0  ...    3549.0
2021-01-04        5517.0    2452.0             4061.0  ...    2788.0
2021-01-05        6043.0    2797.0             4215.0  ...    2701.0
...                  ...       ...                ...  ...       ...
2022-12-27        7153.0    3395.0             4724.0  ...    3404.0
2022-12-28        6978.0    3133.0             4835.0  ...    3280.0
2022-12-29        6656.0    3059.0             4666.0  ...    3472.0
2022-12-30        7082.0    3254.0             4796.0  ...    3037.0
2022-12-31        6214.0    2836.0             4258.0  ...    2918.0

hour                                                              \
region     Nouvelle-Aquitaine Occitanie    PACA Pays-de-la-Loire
date
2021-01-01             6586.0    6043.0  6211.0           4122.0
2021-01-02             5809.0    5206.0  5390.0           3549.0
2021-01-03             5179.0    4794.0  5122.0           3300.0
2021-01-04             3954.0    4086.0  4368.0           2561.0
2021-01-05             4109.0    4015.0  4563.0           2295.0
...                       ...       ...     ...              ...
2022-12-27             4855.0    4524.0  4731.0           3267.0
2022-12-28             4742.0    4572.0  4801.0           3211.0
2022-12-29             4982.0    4491.0  4721.0           3294.0
2022-12-30             4501.0    4135.0  4798.0           2958.0
2022-12-31             4370.0    4106.0  4441.0           2689.0

hour                      21:30                                   \
region     Auvergne-Rhône-Alpes Bourgogne-Franche-Comté Bretagne
date
2021-01-01               8553.0                  2910.0   3603.0
2021-01-02               8618.0                  2790.0   2903.0
2021-01-03               7965.0                  2697.0   2856.0
2021-01-04               6845.0                  2312.0   2209.0
2021-01-05               6667.0                  2180.0   2041.0
...                         ...                     ...      ...
2022-12-27               7640.0                  2273.0   2628.0
2022-12-28               7852.0                  1994.0   2600.0
2022-12-29               7222.0                  2216.0   2737.0
2022-12-30               7441.0                  1976.0   2424.0
2022-12-31               6471.0                  1790.0   2134.0

hour                                                               \
region     Centre-Val de Loire   France Grand-Est Hauts-de-France
date
2021-01-01              3009.0  66998.0    5613.0          6495.0
2021-01-02              2447.0  62015.0    5785.0          6613.0
2021-01-03              2475.0  57926.0    5543.0          6106.0
2021-01-04              1758.0  47395.0    4652.0          5187.0
2021-01-05              1926.0  47034.0    4099.0          4863.0
...                        ...      ...       ...             ...
2022-12-27              2292.0  52296.0    4329.0          6653.0
2022-12-28              2075.0  51301.0    4564.0          5290.0
2022-12-29              2244.0  51488.0    4043.0          6371.0
2022-12-30              2058.0  48519.0    4106.0          6147.0
2022-12-31              1798.0  43971.0    3540.0          5611.0

hour                                                                     \
region     Ile-de-France Normandie Nouvelle-Aquitaine Occitanie    PACA
date
2021-01-01       10099.0    4260.0             6483.0    5930.0  6014.0
2021-01-02        9637.0    3797.0             5698.0    5035.0  5274.0